<div class="container">
  <img
    [src]="info.imageUrl"
    [alt]="info.firstName + ' ' + info.lastName"
    style="height: 200px; width: 200px; margin-top: 10px"
  />
  <mat-divider />
  <p><b>First Name: </b>{{ info.firstName }}</p>
  <mat-divider />
  <p><b>Last Name: </b>{{ info.lastName }}</p>
  <mat-divider />
  <p><b>Mobile: </b>{{ info.phoneNumber }}</p>
  <mat-divider />
  <p><b>NIC: </b>{{ info.nicNumber }}</p>
  <mat-divider />
  <p><b>Date of Birth: </b>{{ info.dateOfBirth }}</p>
  <mat-divider />
  <p><b>Address: </b>{{ info.address }}</p>
  <mat-divider />
</div>
