/* Core Grid CSS */
@import "ag-grid-community/styles/ag-grid.css";
/* Quartz Theme Specific CSS */
@import "ag-grid-community/styles/ag-theme-quartz.css";

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner 0.8s linear infinite;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.two-column {
    display: flex;
    justify-content: space-between;

    app-drop-down-field,
    app-text-field {
        width: 47%;
    }
}